[Unit]
Description=Service for running hawkbit-client.
Requires=network.target
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/hawkbit-client -c /etc/hawkbit-client/config.yaml -d /etc/hawkbit-client/deviceConfig.json
Restart=always

[Install]
WantedBy=multi-user.target